<h1> sign up fail</h1>
<% if(hasErrors) {%>
<div class='alert alert-danger text-center'>
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
    <% _.forEach(messages, function(error){ %>
    <%= error %><br>
    <% }) %>
</div>
<% } %>